/* @group overwrite of foundation */

body {
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,'メイリオ',sans-serif;
	background-color: #000;
	background: #4e545a url(../img/bg.jpg) no-repeat;
}

.panel {
	border-color: #222a31;
	background: #222a31;
}

.panel p{
	color: #FFF;
	font-size: 0.8rem;
}


h1 {
	margin-bottom: 2rem;	
}

h2 {
	color: #FFF;
	margin-bottom: 2rem;
}

h3 {
	font-size: 2.125rem;
	letter-spacing: 0.2rem;
}

.panel h5 {
	margin-top: 20px;
	font-size: 0.8rem;
	font-weight: bold;
	color: #FFF;	
}

h1.steelfish {
	color: #FFF;
}

h3.steelfish,
h4.steelfish {
	color: #CCC;
}


table tr.even, table tr.alt, table tr:nth-of-type(even) {
	background: #f3f3f3;
}



table tr th {
	padding: 0.8rem 0.625rem 0.3rem 0.625rem;
}

table tr td {
	padding: 0.5625rem 0.625rem;
}

table tr th {
	width: 60px;
	vertical-align: top;
}

table tbody tr td {
	line-height: 1.4rem;
}



/* @end */



/* @group original additional styles */

@font-face {
    font-family: 'Steelfish-Regular';
    src:url('../font/Steelfish-Regular.ttf.woff') format('woff'),
        url('../font/Steelfish-Regular.ttf.svg#Steelfish-Regular') format('svg'),
        url('../font/Steelfish-Regular.ttf.eot'),
        url('../font/Steelfish-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

#featuredImage {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 200px;
}

.featuredPanel {
	color: #FFF;
	margin-bottom: 1.25rem;
	padding: 1.25rem;
	background-color:rgba(0,0,0,0.4);
}

.featuredPanel p {
	font-size: 0.8rem;	
}

#siteTitle {
	position: absolute;
	top: 0;
	z-index: 10;
	margin-top: 10px;
	margin-left: 20px;
}

.steelfish {
	font-family: 'Steelfish-Regular';
}

span.howtoread {
	margin-left: 8px;
	font-size: 0.8rem;
	letter-spacing: 0rem;
	font-weight: bold;
}

.credit {
	color: #FFF;
	font-size: 0.6rem;
}

.


/* @end */
